@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 243 76% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 226 100% 98%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 226 100% 98%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 226 100% 98%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 243 76% 58%;
    --radius: 0.5rem;
    --chart-1: 197 71% 52%;
    --chart-2: 175 71% 52%;
    --chart-3: 210 60% 60%;
    --chart-4: 250 60% 60%;
    --chart-5: 280 60% 60%;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 222 47% 11%;
    --sidebar-primary: 243 76% 58%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 210 40% 96.1%;
    --sidebar-accent-foreground: 222 47% 11%;
    --sidebar-border: 214.3 31.8% 91.4%;
    --sidebar-ring: 243 76% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
